{% extends 'base.html'%}
{% block content %}
<br><br><br>
<div class="container content">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar position-fixed">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="https://media.rockstargames.com/chinatownwars/global/downloads/avatars/zhou_256x256.jpg"
                        class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <strong>Jason Davis</strong>
                    </div>
                    <div class="profile-usertitle-job">
                        Developer
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="active nav-item">
                            <a href="#" class="nav-link active">
                                <i class="fa fa-home"></i>
                                Overview </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://codepen.io/jasondavis/pen/jVRwaG?editors=1000">
                                <i class="fa fa-user"></i>
                                Account Settings </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-flag"></i>
                                Help </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Start Bootstrap</a>
                        on September 24, 2019</p>
                </div>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Start Bootstrap</a>
                        on September 24, 2019</p>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}